-- ===== SCHEMA FOR APP admin =====
BEGIN;
--
-- Create model LogEntry
--
CREATE TABLE "django_admin_log" ("id" integer NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "action_time" timestamp with time zone NOT NULL, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL, "user_id" bigint NOT NULL);
ALTER TABLE "django_admin_log" ADD CONSTRAINT "django_admin_log_content_type_id_c4bce8eb_fk_django_co" FOREIGN KEY ("content_type_id") REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "django_admin_log" ADD CONSTRAINT "django_admin_log_user_id_c564eba6_fk_usuarios_usuario_id" FOREIGN KEY ("user_id") REFERENCES "usuarios_usuario" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
COMMIT;

-- ===== END APP admin =====

-- ===== SCHEMA FOR APP auth =====
BEGIN;
--
-- Create model Permission
--
CREATE TABLE "auth_permission" ("id" integer NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "name" varchar(50) NOT NULL, "content_type_id" integer NOT NULL, "codename" varchar(100) NOT NULL);
--
-- Create model Group
--
CREATE TABLE "auth_group" ("id" integer NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "name" varchar(80) NOT NULL UNIQUE);
CREATE TABLE "auth_group_permissions" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "group_id" integer NOT NULL, "permission_id" integer NOT NULL);
--
-- Create model User
--
-- (no-op)
ALTER TABLE "auth_permission" ADD CONSTRAINT "auth_permission_content_type_id_codename_01ab375a_uniq" UNIQUE ("content_type_id", "codename");
ALTER TABLE "auth_permission" ADD CONSTRAINT "auth_permission_content_type_id_2f476e4b_fk_django_co" FOREIGN KEY ("content_type_id") REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "auth_group_name_a6ea08ec_like" ON "auth_group" ("name" varchar_pattern_ops);
ALTER TABLE "auth_group_permissions" ADD CONSTRAINT "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" UNIQUE ("group_id", "permission_id");
ALTER TABLE "auth_group_permissions" ADD CONSTRAINT "auth_group_permissions_group_id_b120cbf9_fk_auth_group_id" FOREIGN KEY ("group_id") REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "auth_group_permissions" ADD CONSTRAINT "auth_group_permissio_permission_id_84c5c92e_fk_auth_perm" FOREIGN KEY ("permission_id") REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
COMMIT;

-- ===== END APP auth =====

-- ===== SCHEMA FOR APP authtoken =====
BEGIN;
--
-- Create model Token
--
CREATE TABLE "authtoken_token" ("key" varchar(40) NOT NULL PRIMARY KEY, "created" timestamp with time zone NOT NULL, "user_id" bigint NOT NULL UNIQUE);
ALTER TABLE "authtoken_token" ADD CONSTRAINT "authtoken_token_user_id_35299eff_fk_usuarios_usuario_id" FOREIGN KEY ("user_id") REFERENCES "usuarios_usuario" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "authtoken_token_key_10f0b77e_like" ON "authtoken_token" ("key" varchar_pattern_ops);
COMMIT;

-- ===== END APP authtoken =====

-- ===== SCHEMA FOR APP contenttypes =====
BEGIN;
--
-- Create model ContentType
--
CREATE TABLE "django_content_type" ("id" integer NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "name" varchar(100) NOT NULL, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
--
-- Alter unique_together for contenttype (1 constraint(s))
--
ALTER TABLE "django_content_type" ADD CONSTRAINT "django_content_type_app_label_model_76bd3d3b_uniq" UNIQUE ("app_label", "model");
COMMIT;

-- ===== END APP contenttypes =====

-- ===== SCHEMA FOR APP direcciones =====
BEGIN;
--
-- Create model Direccion
--
CREATE TABLE "direcciones_direccion" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "pais" varchar(50) NOT NULL, "departamento" varchar(50) NOT NULL, "ciudad" varchar(50) NOT NULL, "zona" varchar(50) NULL, "calle" varchar(100) NOT NULL, "numero" varchar(10) NOT NULL, "referencia" text NULL, "sucursal_id" bigint NULL, "usuario_id" bigint NULL);
ALTER TABLE "direcciones_direccion" ADD CONSTRAINT "direcciones_direccio_sucursal_id_efd69886_fk_sucursale" FOREIGN KEY ("sucursal_id") REFERENCES "sucursales_sucursal" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "direcciones_direccion" ADD CONSTRAINT "direcciones_direccio_usuario_id_73f80363_fk_usuarios_" FOREIGN KEY ("usuario_id") REFERENCES "usuarios_usuario" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "direcciones_direccion_sucursal_id_efd69886" ON "direcciones_direccion" ("sucursal_id");
CREATE INDEX "direcciones_direccion_usuario_id_73f80363" ON "direcciones_direccion" ("usuario_id");
COMMIT;

-- ===== END APP direcciones =====

-- ===== SCHEMA FOR APP pedidos =====
BEGIN;
--
-- Create model Metodo_Pago
--
CREATE TABLE "pedidos_metodo_pago" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "nombre" varchar(50) NOT NULL, "proveedor" varchar(100) NULL, "descripcion" text NULL);
--
-- Create model Cart
--
CREATE TABLE "pedidos_cart" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "creado_en" timestamp with time zone NOT NULL, "estado" varchar(20) NOT NULL, "usuario_id" bigint NOT NULL);
--
-- Create model ItemCart
--
CREATE TABLE "pedidos_itemcart" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "cantidad" integer NOT NULL CHECK ("cantidad" >= 0), "precio_unitario" numeric(10, 2) NOT NULL, "cart_id" bigint NOT NULL, "producto_id" bigint NOT NULL);
--
-- Create model Pago
--
CREATE TABLE "pedidos_pago" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "monto" numeric(10, 2) NOT NULL, "estado" varchar(20) NOT NULL, "fecha" timestamp with time zone NOT NULL, "referencia" varchar(255) NULL, "metodo_id" bigint NULL);
--
-- Create model Venta
--
CREATE TABLE "pedidos_venta" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "fecha" timestamp with time zone NOT NULL, "total" numeric(10, 2) NOT NULL, "estado" varchar(50) NOT NULL, "pago_id" bigint NULL UNIQUE, "usuario_id" bigint NOT NULL);
--
-- Create model Detalle_Venta
--
CREATE TABLE "pedidos_detalle_venta" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "cantidad" integer NOT NULL CHECK ("cantidad" >= 0), "precio_unitario" numeric(10, 2) NOT NULL, "producto_id" bigint NOT NULL, "venta_id" bigint NOT NULL);
ALTER TABLE "pedidos_cart" ADD CONSTRAINT "pedidos_cart_usuario_id_21214bfd_fk_usuarios_usuario_id" FOREIGN KEY ("usuario_id") REFERENCES "usuarios_usuario" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "pedidos_cart_usuario_id_21214bfd" ON "pedidos_cart" ("usuario_id");
ALTER TABLE "pedidos_itemcart" ADD CONSTRAINT "pedidos_itemcart_cart_id_6f604892_fk_pedidos_cart_id" FOREIGN KEY ("cart_id") REFERENCES "pedidos_cart" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "pedidos_itemcart" ADD CONSTRAINT "pedidos_itemcart_producto_id_992aff58_fk_productos_producto_id" FOREIGN KEY ("producto_id") REFERENCES "productos_producto" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "pedidos_itemcart_cart_id_6f604892" ON "pedidos_itemcart" ("cart_id");
CREATE INDEX "pedidos_itemcart_producto_id_992aff58" ON "pedidos_itemcart" ("producto_id");
ALTER TABLE "pedidos_pago" ADD CONSTRAINT "pedidos_pago_metodo_id_1acfb91e_fk_pedidos_metodo_pago_id" FOREIGN KEY ("metodo_id") REFERENCES "pedidos_metodo_pago" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "pedidos_pago_metodo_id_1acfb91e" ON "pedidos_pago" ("metodo_id");
ALTER TABLE "pedidos_venta" ADD CONSTRAINT "pedidos_venta_pago_id_4408d637_fk_pedidos_pago_id" FOREIGN KEY ("pago_id") REFERENCES "pedidos_pago" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "pedidos_venta" ADD CONSTRAINT "pedidos_venta_usuario_id_298a573b_fk_usuarios_usuario_id" FOREIGN KEY ("usuario_id") REFERENCES "usuarios_usuario" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "pedidos_venta_usuario_id_298a573b" ON "pedidos_venta" ("usuario_id");
ALTER TABLE "pedidos_detalle_venta" ADD CONSTRAINT "pedidos_detalle_vent_producto_id_a25cf461_fk_productos" FOREIGN KEY ("producto_id") REFERENCES "productos_producto" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "pedidos_detalle_venta" ADD CONSTRAINT "pedidos_detalle_venta_venta_id_b6fb4d44_fk_pedidos_venta_id" FOREIGN KEY ("venta_id") REFERENCES "pedidos_venta" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "pedidos_detalle_venta_producto_id_a25cf461" ON "pedidos_detalle_venta" ("producto_id");
CREATE INDEX "pedidos_detalle_venta_venta_id_b6fb4d44" ON "pedidos_detalle_venta" ("venta_id");
COMMIT;

-- ===== END APP pedidos =====

-- ===== SCHEMA FOR APP productos =====
BEGIN;
--
-- Create model Categoria
--
CREATE TABLE "productos_categoria" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "nombre" varchar(100) NOT NULL, "descripcion" text NOT NULL);
--
-- Create model Producto
--
CREATE TABLE "productos_producto" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "nombre" varchar(100) NOT NULL, "descripcion" text NOT NULL);
--
-- Create model Proveedor
--
CREATE TABLE "productos_proveedor" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "nombre" varchar(100) NOT NULL);
--
-- Create model Detalle_Producto
--
CREATE TABLE "productos_detalle_producto" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "categoria_id" bigint NULL, "producto_id" bigint NULL);
--
-- Add field proveedor to producto
--
ALTER TABLE "productos_producto" ADD COLUMN "proveedor_id" bigint NULL CONSTRAINT "productos_producto_proveedor_id_3ef13ee3_fk_productos" REFERENCES "productos_proveedor"("id") DEFERRABLE INITIALLY DEFERRED; SET CONSTRAINTS "productos_producto_proveedor_id_3ef13ee3_fk_productos" IMMEDIATE;
--
-- Create model Stock_sucursal
--
CREATE TABLE "productos_stock_sucursal" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "producto_id" bigint NULL, "sucursal_id" bigint NULL);
ALTER TABLE "productos_detalle_producto" ADD CONSTRAINT "productos_detalle_pr_categoria_id_9dd462d7_fk_productos" FOREIGN KEY ("categoria_id") REFERENCES "productos_categoria" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "productos_detalle_producto" ADD CONSTRAINT "productos_detalle_pr_producto_id_7921efec_fk_productos" FOREIGN KEY ("producto_id") REFERENCES "productos_producto" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "productos_detalle_producto_categoria_id_9dd462d7" ON "productos_detalle_producto" ("categoria_id");
CREATE INDEX "productos_detalle_producto_producto_id_7921efec" ON "productos_detalle_producto" ("producto_id");
CREATE INDEX "productos_producto_proveedor_id_3ef13ee3" ON "productos_producto" ("proveedor_id");
ALTER TABLE "productos_stock_sucursal" ADD CONSTRAINT "productos_stock_sucu_producto_id_67c31e18_fk_productos" FOREIGN KEY ("producto_id") REFERENCES "productos_producto" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "productos_stock_sucursal" ADD CONSTRAINT "productos_stock_sucu_sucursal_id_9e70da0d_fk_sucursale" FOREIGN KEY ("sucursal_id") REFERENCES "sucursales_sucursal" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "productos_stock_sucursal_producto_id_67c31e18" ON "productos_stock_sucursal" ("producto_id");
CREATE INDEX "productos_stock_sucursal_sucursal_id_9e70da0d" ON "productos_stock_sucursal" ("sucursal_id");
COMMIT;

-- ===== END APP productos =====

-- ===== SCHEMA FOR APP sessions =====
BEGIN;
--
-- Create model Session
--
CREATE TABLE "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" timestamp with time zone NOT NULL);
CREATE INDEX "django_session_session_key_c0390e0f_like" ON "django_session" ("session_key" varchar_pattern_ops);
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
COMMIT;

-- ===== END APP sessions =====

-- ===== SCHEMA FOR APP sucursales =====
BEGIN;
--
-- Create model Departamento
--
CREATE TABLE "sucursales_departamento" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "nombre" varchar(100) NOT NULL UNIQUE);
--
-- Create model Sucursal
--
CREATE TABLE "sucursales_sucursal" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "nombre" varchar(100) NOT NULL, "telefono" varchar(20) NOT NULL);
CREATE INDEX "sucursales_departamento_nombre_4c87ab71_like" ON "sucursales_departamento" ("nombre" varchar_pattern_ops);
COMMIT;

-- ===== END APP sucursales =====

-- ===== SCHEMA FOR APP usuarios =====
BEGIN;
--
-- Create model Usuario
--
CREATE TABLE "usuarios_usuario" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "password" varchar(128) NOT NULL, "last_login" timestamp with time zone NULL, "username" varchar(50) NOT NULL UNIQUE, "correo" varchar(254) NOT NULL UNIQUE);
CREATE INDEX "usuarios_usuario_username_be9def2b_like" ON "usuarios_usuario" ("username" varchar_pattern_ops);
CREATE INDEX "usuarios_usuario_correo_80ace29b_like" ON "usuarios_usuario" ("correo" varchar_pattern_ops);
COMMIT;

-- ===== END APP usuarios =====

